html, body {
    height: 100%;
    font-family: -apple-system, sans-serif;
}

.container {
    position: relative;
    padding: .5em;
    margin: .5em;
    top: 50%;
    transform: translateY(-100%);
    text-align: center;
    color: ghostwhite;
    background-color: darkslateblue;
}
